:root{
    --color-grey: #c7c7c7;
    --color-hover: #cccccc;
    --font-page: 'Merriweather', serif;
}

/* Mobile */
main{
    margin: 0;
    background-color: var(--color-hover);
    min-height: 80vh;
}
.content{
    width: 80%;
    min-height: 30vh;
    background-color: #fff;
    margin: 4% 0 4% 0;
    border-radius: 15px;
    padding: 4%;
}

/* Desktop */
@media screen and (min-width: 768px) {
    main{
        margin: 0;
        background-color: var(--color-hover);
        min-height: 80vh;
    }
    .content{
        width: 50%;
        min-height: 30vh;
        background-color: #fff;
        margin: 4% 0 4% 0;
        border-radius: 10px;
        padding: 5%;
    }
}