@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root{
    --color-grey: #c7c7c7;
    --color-hover: #cccccc;
    --font-page: 'Merriweather', serif;
}

body{
    margin: 0;
    font-family: var(--font-page);
}
header{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
}
header .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;

}
a{
    text-decoration: none;
    color: black;
}
.logoBox{
    width: 50%;
}
.logoBox a{
    font-size: large;
    margin-left: 10%;
    font-weight: 700;
    width: 100%;
}
.buttonNavBar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}
.buttonNavBar button{
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 10%;
    font-size: 120%;
}
.actionNavBar{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    border-bottom: 2px solid var(--color-grey);
    transition: 1s;
}
.actionNavBar a {
    width: 80%;
    border-bottom: 1px solid var(--color-grey);
    margin: 0 0 2vh 0;
    text-align: center;
}
.actionNavBar a:hover {
    text-decoration: underline;
}
main{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}
iframe{
    margin-top: 3px;
    height: 98vh;
    width: 100%;
}