@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root{
    --color-grey: #c7c7c7;
    --color-hover: #cccccc;
    --font-page: 'Merriweather', serif;
}

body{
    margin: 0;
    font-family: var(--font-page);
}
header{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
}
header .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid #333;
    box-shadow: 1px 2px 5px;
}
a{
    text-decoration: none;
    color: black;
}
.logoBox{
    width: 20%;
}
.logoBox a{
    font-size: larger;
    margin-left: 10%;
    font-weight: 700;
}
.action{
    display: flex;
    justify-content: end;
    width: 40%;
}
.action a {
    margin: 0 5% 0 0;
    text-transform: uppercase;
}
.action a:hover {
    text-decoration: underline;
    color: var(--color-grey);
}
main{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}
img{
    width: 80%;
}
